# Node.js
node_modules/
package-lock.json  # Uncomment if you prefer to exclude it
.env

# Build output
dist/

# IDE and Editor files
.vscode/
*.log
.DS_Store
*.swp
*.swo

# Git LFS
.git/lfs/*

# Miscellaneous
*.bak
*.tmp